@CHARSET "ISO-8859-1";

#formtable {
	width: 500px;
	padding: 10px;
	border: 1px solid red;
	background-color: #F4E0D9;
	padding: 10px;
}

input {
	width: 150px;
}

textarea {
	width: 150px;
	height: 150px;
}

body {
	vertical-align: top;
}

.error {
	font-size: medium;
	color: red;
	font-weight: bold;
}

p.loginerror {
	color: red;
}
.valid{
	font-size: medium;
	color: green;
	font-weight: bold;
}